<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>{{header}} Details</h3>
        </header>
        <div>
            <div class="row">
                <br /><br />
                <div class="span12">
                    <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                        <thead>
                            <tr>
                                <th>{{tr1}}</th>
                                <th>{{tr2}}</th>
                                <th>{{tr3}}</th>
                                <th>{{tr4}}</th>
                                <th>{{tr5}}</th>
                                <th>{{tr6}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="error">
                                <td>
                                    {{ td1 }}
                                </td>
                                <td>
                                    {{ td2 }}
                                </td>
                                <td>
                                    {{ td3}}
                                </td>
                                <td>
                                    {{ td4 }}
                                </td>
                                <td>
                                    {{ td5 }}
                                </td>
                                <td>
                                    {{ td6 }}
                                </td>
                            </tr>
                            <tr class="info">
                                <td colspan="2">
                                    &nbsp;
                                </td>
                                <td colspan="4">
                                    <strong>{{ td7 }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>